<div style="background: #051027; height: 100vh;">
    <div style="background: linear-gradient(to right, #051027, #051027); height: 200px; border-bottom: 20px solid #FFD700;">
        <div [style]="pri_style">
            <main style="max-width: 1000px; margin: auto; background: #000; box-shadow: 0px 1px 10px 1px rgba(185, 185, 185, 0.199);">
                <div style="display: flex;">
                    <!-- #54569a -->
                    <div style="width: 180px;" *ngIf="!isMobileView">
                        <app-sidebar></app-sidebar>
                    </div>
                    <div *ngIf="isMobileView" style="flex: 1; display: flex;  flex-direction: column; background: #000;">
                        <div style="height: 92vh; overflow: auto; ">
                            <router-outlet></router-outlet>
                        </div>
                        <div >
                            <app-nav-bar></app-nav-bar>
                        </div>
                    </div>
                    <div *ngIf="!isMobileView" style="flex: 1; height: 90vh; display: flex;  flex-direction: column; background: #000; border-radius: 10px; border: 1px solid #222;">
                        <div style="height: 100%; ">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                    <div style="width: 260px;" *ngIf="!isMobileView">
                        <app-ads-bar></app-ads-bar>
                    </div>
                </div>
            </main>
        </div>
    </div>
 
</div>