<div style="background: url(../../assets/app-banner.png) no-repeat center / cover;; height: 100vh;">
    <main style="max-width: 1000px; margin: auto; background: #fff;">
        <div style="display: flex; border: 1px solid #eee;">
            <div style="width: 180px;" *ngIf="!isMobileView">
                <app-sidebar></app-sidebar>
            </div>
            <div style="flex: 1; height: 100vh; display: flex;  flex-direction: column">
                <div style="height: 100%; border: 1px solid #ddd;">
                    <router-outlet></router-outlet>
                </div>
                <div *ngIf="isMobileView">
                    <app-nav-bar></app-nav-bar>
                </div>
            </div>
            <div style="width: 260px;" *ngIf="!isMobileView">
                <app-ads-bar></app-ads-bar>
            </div>
        </div>
    </main>
</div>