

<section style="height: 100%; display: flex; flex-direction: column; background: #fdfdfd;">
    <app-app-bar title="BlueBunny" ></app-app-bar>
    <div style="flex: 1; margin: auto; border-radius: 20px; width: 100%; ">
        <div style="max-width: 440px; margin: auto; height: 100%;  display: flex; flex-direction: column; gap: 10px;">
            <div style="margin-inline: 20px; flex: 1;">
                <app-match-card></app-match-card>
            </div>
            <div style="height: 100px; max-width: 300px; margin: auto;">
                
                <table>
                    <tr>
                        <td style="width: 1000px;">
                            <div class="match_button dislike_btn">
                                <span nz-icon nzType="close" nzTheme="outline"></span>
                            </div>
                        </td>
                        <td style="width: 1000px;">
                            <div class="match_button subscribe_btn">
                                <span nz-icon nzType="thunderbolt" nzTheme="fill"></span>
                            </div>
                        </td>
                        <td style="width: 1000px;">
                            <div class="match_button like_btn">
                                <span nz-icon nzType="heart" nzTheme="fill"></span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>