

<section style="height: 100%; display: flex; flex-direction: column;" *ngIf="isViewMatch">
    <app-app-bar title="AceMash" ></app-app-bar>
    <div style="flex: 1; margin: auto; border-radius: 20px; width: 100%; ">
        <div style="max-width: 440px; margin: auto; height: 100%;  display: flex; flex-direction: column; gap: 10px;">
            <div style="margin-inline: 20px; flex: 1;">
                <div style="height: 100%; border: 1px solid #636363; border-radius: 20px;  display: flex; flex-direction: column; padding: 10px; background: url('{{splitImg(active_feed.imageArray)}}') no-repeat center / cover;">
                    <div style="flex: 1; display: flex; justify-content: center;  align-items:center;">
                        <div *ngIf="choice.dislike" style="color: rgb(210, 10, 10); font-size: 30px; width: fit-content; border-radius: 30px; padding-inline: 20px; border: 5px solid rgb(210, 10, 10); background: #f5f5f5;">
                            NOPE
                        </div>
                        <div *ngIf="choice.like" style="color: rgb(10, 210, 40); font-size: 30px; width: fit-content; border-radius: 30px; padding-inline: 20px; border: 5px solid rgb(10, 210, 40); background: #f5f5f5;">
                            LIKE
                        </div>
                    </div>
                    <div style="padding: 10px; background: #0e0e0eaa; border-radius: 15px; margin: 2px;">
                        <div style="color: #fff; font-weight: bold; display: flex;">
                            <div style="flex: 1;">
                                {{active_feed.profileName}}, {{calculateAgeFromDOB(active_feed.dateOfBirth)}}
                            </div>
                            <div>
                                <div style="color: #fff; background: rgb(215, 184, 8); padding-inline: 10px; padding-block: 3px; border-radius: 5px; font-size: 12px; font-weight: normal; cursor: pointer;" (click)="viewProfile(active_feed)">
                                    show profile
                                </div>
                            </div>

                        </div>
                        <div style="color: #fff; font-weight:normal;">
                            {{active_feed.workPlace}}
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 100px; max-width: 300px; margin: auto;">
                
                <table>
                    <tr>
                        <td style="width: 1000px;">
                            <div class="match_button dislike_btn" (click)="dislike_feed()">
                                <span nz-icon nzType="close" nzTheme="outline"></span>
                            </div>
                        </td>
                        <td style="width: 1000px;">
                            <div class="match_button_2 bookmark_btn" (click)="bookmark()">
                                <span nz-icon nzType="book" nzTheme="outline"></span>
                            </div>
                        </td>
                        <td style="width: 1000px;">
                            <div class="match_button_2 message_btn" (click)="initiateChat()">
                                <span nz-icon nzType="wechat" nzTheme="fill"></span>
                            </div>
                        </td>
                        <td style="width: 1000px;">
                            <div class="match_button like_btn" (click)="like_feed()">
                                <span nz-icon nzType="heart" nzTheme="fill"></span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
<section *ngIf="!isViewMatch">
    <app-view-profile (btnClick)="closeViewProfile()" [profileData]="active_feed"></app-view-profile>
</section>
