<main style="padding: 15px; border: 1px solid #ddd; height: 100%;">
    <div style="width: 70px; border: 1px solid #ddd; height: 70px; margin: auto;">
        img
    </div>

    <div>
        <div>
            Matching
        </div>
        <div>
            Search
        </div>
        <div>
            Messages
        </div>
        <div>
            Events
        </div>
        <div>
            Subscription
        </div>
        <div>
            Settings
        </div>
    </div>

</main>