<app-app-bar title="Message" [showMyProfileBtn]="isMobileView"></app-app-bar>

<section style="color: #fff;">
    <div *ngFor="let data of chats_list">
        <div class="msg-tile" (click)="openMessgaPage(data.channelId)">
            <div style="padding: 8px;">
                <img src="../../../assets/test-img.jpeg"  alt="">
            </div>
            <div style="padding: 8px; border-bottom: 1px solid #222; flex: 3;">
                <div style="font-weight: bold; color: #fff;" >
                    {{data.name}}
                </div>
                <div style="font-weight: 400; color: #777;">
                    {{data.name}}
                </div>
            </div>
        </div>
    </div>
</section>